doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/styleReg.css")
    title Contact us!
  body
    nav.navbar
      div.logo
        span
          a(href="/") VirtuBell
      ul.nav-list
        li
          a(href="/") Home
        li
          a(href="#") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login/Register
    .form-container
      form.form
        p.title Contact us!
        label
          input.required(type="email", placeholder="", class="input")
          span Email
        label
          input.required(type="text", placeholder="", class="input")
          span Your message
        button.submit Submit
