doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title VirtuBell
  body
    nav.navbar
      div.logo
        span
          a(href="/") VirtuBell
      ul.nav-list
        li
          a(href="/") Home
        li
          a(href="#") About
        li
          a(href="/contact") Contact
        li
          a(href="/login") Login/Register
    section#content-index
      div.row
        div.col-lg-5
          img.img-fluid(src="img/img-index.jpg", alt="", width="100%")
        div.col-lg-6
          div.content
            p.p1 What does we do!
            h3 The end of doorbells is near!
            p.p2.mb-3.text-justify
              | This project aims to create a sophisticated virtual doorbell app that streamlines visitor access and enhances communication between homeowners and their guests. The app enables visitors to scan a unique QR code associated with each homeowner, granting them access to a video call interface via their device's camera. Homeowners are promptly notified via SMS when someone scans their QR code, allowing them to engage in real-time video conversations with their visitors, enhancing security, convenience, and communication. The system is designed with a robust backend infrastructure, secure user authentication, and privacy considerations to ensure a seamless and secure user experience.
